body {
  margin: 0;
}

header {
  background-color: #aaa1a1;
  padding: 20px;
  text-align: center;
}
html {
  background-color: #aaa1a1;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  }
.topnav a:hover {
  background-color: red;
  color: black;
}
h1 {
  text-align: center;
  padding: 10px;
  margin: auto;
}
h2 {
  text-align: center;
  padding: 10px;
  margin: auto;
}
.bottomnav {
  overflow: hidden;
  background-color: #dfd8d8;
  padding: 30px;
  }
.bottomnav a {
  float: left;
  display: block;
  color: maroon;
  text-align: center;
  padding: 0px 15px;
}

  
h3 {
  text-align: center;
}
.list.side1 {
  float: left;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .list.side1.side, .list.side2 {
    width: 100%;
  }
}
.list.side2.side {
  width: 50%%;
  
}
* {
  box-sizing: border-box;
}
  
  
